<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TraderForPoe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <TraderForPoe.Properties.Settings>
            <setting name="PlayerName" serializeAs="String">
                <value>PLAYERNAME</value>
            </setting>
            <setting name="CollapsedItems" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayNotificationSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PathToClientTxt" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomWhisper1" serializeAs="String">
                <value>Give me one second</value>
            </setting>
            <setting name="CloseItemAfterCustomWhisper1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomWhisper2" serializeAs="String">
                <value>Already sold, sorry.</value>
            </setting>
            <setting name="CloseItemAfterCustomWhisper2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThankYouWhisper" serializeAs="String">
                <value>Thank you very much, good luck and have a nice day.</value>
            </setting>
            <setting name="CloseItemAfterThankYouWhisper" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImBusyWhisper" serializeAs="String">
                <value>Hi, I'm busy right now. Shall I write you after?</value>
            </setting>
            <setting name="CloseItemAfterImBusyWhisper" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseClipboardMonitor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseItemAfterTrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeSettingsRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PosTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PosLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HideIfPoeNotForeGround" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckForUpdatesOnStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HistoryItemsCount" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="CustomWhisper3" serializeAs="String">
                <value>Still available?</value>
            </setting>
            <setting name="CustomWhisper4" serializeAs="String">
                <value>How many available?</value>
            </setting>
            <setting name="CloseItemAfterCustomWhisper3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseItemAfterCustomWhisper4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ControlOpacity" serializeAs="String">
                <value>1</value>
            </setting>
        </TraderForPoe.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
